.gallery{
    width: 500px;
    height: 600px;
    background-color: #ffffff;
    z-index: 100;
    padding-top:5px;
    padding-bottom:15px;
    padding-left:15px;
    padding-right: 15px;
    position:relative;
    border-radius: 10px;
}
.gallery-location{
    overflow: hidden;
    margin:20px 0;
    font-size:24px;
}
.gallery-information{
    overflow: hidden;
    width: 100%;
    word-wrap: break-word;
    margin:10px 0;
    font-size:14px;
}
.gallery-image{
    display:block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.gallery-close{
    position:absolute;
    top:0;
    right: 0;
    cursor: pointer;
}
